[
 {kernel, [{logger_level, debug}]},
 {nova, [{cowboy_configuration, #{port => 8080}},
         {rest_only, true},
         {bootstrap_application, nova_chat},
         {plugins, [{pre_ws_request, nova_chat_ws_plugin, #{}, 10},
                    {post_ws_request, nova_chat_ws_plugin, #{}, 20}]}
        ]},
 {nova_chat, [
              {nova_applications, [nova_chat]}]}
].