[
 {nova_chat, [{web_port, 8080},
             {rest_only, true},
             {nova_applications, [
                                  #{
                                    name => nova_chat,
                                    routes_file => "priv/nova_chat.routes.erl"
                                   }
                                 ]}]}
].
